html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.meme {
    font-family: "Times New Roman", Times, serif;
    text-shadow: 0px 0px 20px #000000;
    border: solid 1px black;
    border-radius: 35px;
    box-shadow: 0px 0px 20px 7px darkslategrey;
    margin-top: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    min-height: 500px;
    width: 550px;
    margin-bottom: 25px;
}

.meme-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}


.meme-heading {
    text-overflow: ellipsis;
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
    font-size: 23px;
    line-height: 25px;
    height: 30px;
}

.meme-image {
    margin: 3px 3px 3px 3px;
    width: 100%;
    padding: 15px;
}

    .meme-image img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
    }
